{% extends 'src/html/base.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<style type="text/css">
#editor-container {
  height: 250px;
  background-color: white;
}
#editor-container-explaination {
  height: 200px;
  background-color: white;
}

.correct-answer {
    background-color: #13deb9; /* Green color */
}
</style>


<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="basicToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-warning text-light">
      <h5 class="my-0">You Have Created a New Question</h5>
    </div>
    <div class="toast-body bg-[#fff] text-black">
      <strong>              Keep on creating New Question
</strong>
    </div>
  </div>  
</div>

<div class="container-fluid">
  <section class="content">
    <div class="container">
      <div class="card">
        <div id="editor-container">
        </div>
        <!-- Add submit button -->
        
      </div>

      <div class="card" style="padding: 20px;">
      <h6 style="padding-bottom: 10px;">Add Options</h6>
      <div id="form-placeholder"></div>
      <button id="btn-add" class="btn btn-outline-primary m-1 rounded-circle" style="width: 50px; height: 50px;">+</button>

    </div>
     <div class="card">
        <div id="editor-container-explaination">
        </div>
        <!-- Add submit button -->
        
      </div>

      <button id="submitBtn" class="btn btn-primary" style="float: right;">Submit</button>
    </div>
  </section>
</div>


<script>


function toggleRowColor(checkbox) {
    var row = checkbox.closest('.option-row');
    if (checkbox.checked) {
        row.classList.add('correct-answer');
    } else {
        row.classList.remove('correct-answer');
    }
}


var quill = new Quill('#editor-container', {
  modules: {
    toolbar: [
      [{ header: [1, 2, false] }],
      ['bold', 'italic', 'underline'],
      ['image', 'code-block']
    ]
  },
  placeholder: 'Compose a question...',
  theme: 'snow'  // or 'bubble'
});

var quill_explaination = new Quill('#editor-container-explaination', {
  modules: {
    toolbar: [
      [{ header: [1, 2, false] }],
      ['bold', 'italic', 'underline'],
      ['image', 'code-block']
    ]
  },
  placeholder: 'Compose an explaination...',
  theme: 'snow'  // or 'bubble'
});

function getEditorQuestion() {
    return quill.root.innerHTML;
}

function getEditorExplaination() {
    return quill_explaination.root.innerHTML;
}


function handleSubmit() {

  var question = getEditorQuestion();
  var explaination = getEditorExplaination();
  function gatherFormData() {

      var formData = {
          question: question,
          explaination: explaination,
          options: [],
          correctAnswers: []
      };

      var optionRows = document.querySelectorAll('.option-row');
      var correctAnswerCount = 0;
      optionRows.forEach(function(row, index) {
          var optionInput = row.querySelector('[id^="opt-name"]');
            var correctCheckbox = row.querySelector('[id^="correct-answer"]');


          formData.options.push(optionInput.value);
          formData.correctAnswers.push(correctCheckbox.checked);
          if (correctCheckbox.checked) {
                    correctAnswerCount++;
                }

      });
      if (correctAnswerCount > 1) {
            formData.is_multi = true;
        }

      return formData;
  }

  // Example usage
  var formData = gatherFormData();
  // Make AJAX call to send the content to the backend
  $.ajax({
    url: '/add-question/', // Replace with your Django endpoint
    method: 'POST',
    data: formData,
    success: function(response) {
      quill.root.innerHTML = ""; // Assuming this is the editor for the question
      quill_explaination.root.innerHTML = ""; // Assuming this is the editor for the explanation
      document.getElementById("form-placeholder").innerHTML = ""; // Clear options
      new bootstrap.Toast(document.querySelector('#basicToast')).show();
    },
    error: function(xhr, status, error) {
      console.error('Error saving content:', error);
    }
  });
}

// Attach click event listener to the submit button
document.getElementById('submitBtn').addEventListener('click', handleSubmit);


function appendUserRow(id, user) {
            var html = `<div id="opt-row.${id}" class="form-group row option-row" style="margin-bottom: 10px; padding: 10px;">
    <div class="col-12 col-md-2">
        <label for="opt-no.${id}" class="col-form-label">(${id})</label>
    </div>

    <div class="col-12 col-md-6">
        <input required type="text" class="form-control" id="opt-name.${id}" name="opt-name.${id}" placeholder="Option" value="${user.name}">
    </div>

    <div class="col-6 col-md-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="correct-answer-${id}" name="correct-answer-${id}" onchange="toggleRowColor(this)">
            <label class="form-check-label" for="correct-answer-${id}">
                Correct
            </label>
        </div>
    </div>

    <div class="col-6 col-md-2">
        <i class="ti ti-trash col-form-label" onclick="delRow(${id})" style="float: right;"></i>
    </div>
</div>

`;
            $("#form-placeholder").append(html);
        }

function delRow(id) {
            var element = document.getElementById("opt-row." + id);
            element.parentNode.removeChild(element);
        }

$(document).ready(function () {
            var count = 1;
$("#btn-add").click(function () {
                appendUserRow(count++, {
                    name: "",
                })
            });
});



</script>

{% endblock %}
