{% extends 'src/html/base.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<style type="text/css">
#editor-container {
  height: 375px;
  background-color: white;
}
</style>

<div class="container-fluid">
  <header class="container">
  </header>
</div>

<div class="container-fluid">
  <section class="content">
    <div class="container">
      <div class="card">
        <div id="editor-container">
        </div>
        <!-- Add submit button -->
        
      </div>
      <button id="submitBtn" class="btn btn-primary" style="float: right;">Submit</button>
    </div>
  </section>
</div>

<script>
var quill = new Quill('#editor-container', {
  modules: {
    toolbar: [
      [{ header: [1, 2, false] }],
      ['bold', 'italic', 'underline'],
      ['image', 'code-block']
    ]
  },
  placeholder: 'Compose an epic...',
  theme: 'snow'  // or 'bubble'
});

// Function to handle form submission
function handleSubmit() {
  // Get the HTML content from the Quill editor
  var content = document.querySelector('.ql-editor').innerHTML;
  // Make AJAX call to send the content to the backend
  $.ajax({
    url: '/add-question/', // Replace with your Django endpoint
    method: 'POST',
    data: { content: content },
    success: function(response) {
      console.log('Content saved successfully:', response);
    },
    error: function(xhr, status, error) {
      console.error('Error saving content:', error);
    }
  });
}

// Attach click event listener to the submit button
document.getElementById('submitBtn').addEventListener('click', handleSubmit);
</script>

{% endblock %}
