{% extends 'src/html/base.html' %} {% load static %} {% block content %}


<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
<style>
  body {
    background-color: white;
  }

  .h-screen {
    background-color: white;
  }

  .backbtn {
    cursor: pointer;
  }

  #editor-container {
  height: 250px;
  background-color: white;
}
</style>





<div class="container-fluid">


  <header class="bg-surface-primary border-bottom pt-6">
    <div class="row align-items-center">
      <div class="col-sm-6 col-12 mb-4 mb-sm-0">
        <!-- Title -->
        <h1 class="h2 mb-2 ls-tight pl-4">Review Question Paper</h1>
      </div>
      <!-- Actions -->
    </div>
  </header>

<section class="content">
  <div
    class="container mt-5"
  >
    <a
      href="javascript:void(0);"
      onclick="window.location.href='/questions-discovery/'"
      class="text-black h3"
    >
      <i class="fas fa-long-arrow-alt-left me-2"></i>Back to Questions Panel
    </a>
    <div class="row">
      <div class="col-12">
        <div class="container mt-5" style="width: 300px; padding-bottom: 20px;">
            <select class="form-control selectpicker" name="class" id="class" aria-label="Default select example" data-live-search="true" required>
              <option value="">PLEASE SELECT CLASS/BATCH</option> 
                         {% for class in class_data %}
                          <option value="{{ class.class_id }}">{{ class.name }}</option>   
                        {% endfor %}
                        <!-- Options will be dynamically populated by Select2 -->
               </select>
          </div>
        <div class="card">
            <div id="editor-container" required>
            </div>
            <!-- Add submit button -->   
          </div>

      </div>

      <div class="col-12 col-md-8">
        <div
          class="d-flex justify-content-between align-items-center mt-2 mb-4"
        >
          <p class="mb-0 text-primary" id="cart_count_info">
            You have added {{que_count}} questions in your Question Paper
          </p>
        </div>



    {% for que in temp_qp.qp_items %}
    <div class="row" id="item-{{que.qid}}">
      <div class="col-12">
          <div class="card mb-3">
              <div class="card-body">
                <!-- Product details wrapper -->
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <!-- Left column for image and description -->
                    <div class="align-items-center">
                        <div class="question">
                    <p class="card-text"><strong>QUESTION</strong></p>
                    {{ que.que|safe}}
                  </div>
                    <div class="options">
                    <p class="card-text"><strong>OPTIONS</strong></p>
                    {% for index, option in que.options.items %}
                     
                        <p class="card-text">
                          <div class="correct_option1">Option {{index}}) <strong>{{ option.opt|safe }}</strong></div>
                        </p>

                    {% endfor %}
                  </div>
                    </div>
                    <!-- Right column for delete button -->
                    <div class="ms-auto">
                        <a class="inline text-end" style="color: #cecece; cursor: pointer" onclick="deleteItem('{{que.qid}}')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    {% endfor %}


</div>
<div class="col-12 col-md-4" >

              <div class="card text-white rounded-3 bg-secondary">
                <div class="card-body">
                  <hr class="my-4" />

                

                  <button type="button" class="btn btn-dark btn-lg btn-block" onclick="setQuestionPaper('{{temp_qp.qp_temp_id}}')">
                    <div class="d-flex justify-content-between">
                      <span>SET QUESTION PAPER <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                    </div>
                  </button>
                </div>
              </div>
</div>


          </div>
        

  </div>

</section>

</div>
<script type="text/javascript">


var quill = new Quill('#editor-container', {
  modules: {
    toolbar: [
      [{ header: [1, 2, false] }],
      ['bold', 'italic', 'underline'],
      ['code-block']
    ]
  },
  placeholder: 'Please provide guideline for assessment...',
  theme: 'snow'  // or 'bubble'
});

// Example usage of the function


var que_count = parseInt('{{que_count | safe }}', 10); // Convert to integer
  function deleteItem(qid) {
    // Find the item div by its ID and remove it
    var itemDiv = document.getElementById("item-" + qid);
    if (itemDiv) {
            var insti_id = '{{insti_id | safe }}';
            var qp_temp_id = '{{qp_temp_id | safe }}';

            

            
            $.ajax({
                url: "/update-question-paper/",
                method: "POST",
                data: {qid: qid, insti_id: insti_id, qp_temp_id: qp_temp_id, action: 'delete'},
                success: function (res) {

                    itemDiv.remove();
                
                    var newCartCount = que_count - 1; // Decrease the count by 1

                    // Update the text of the element with the new count
                    $('#cart_count_info').text('You have added ' + newCartCount +' questions in your Question Paper');
                    que_count = newCartCount;

                    },
                    error: function () {
                    }
                });
          }
        }






function setQuestionPaper(qp_temp_id) {


      function getEditorQuestion() {
        return quill.root.innerHTML;
    }

      var guideline = getEditorQuestion();
      var class_id = $('#class').val();
      var class_name = $('#class option:selected').text();

      $.ajax({
        url: "/set-question-paper/",
        method: "POST",
        data: { qp_temp_id : qp_temp_id, guideline: guideline, class_id: class_id, class: class_name},
        success: function(res) {
            window.location.href = '/question-papers/';
        },
        error: function() {
            // Handle error
        }
    });
}

      




</script>

{% endblock %}
